@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* basic css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid red; */
}

:root {
  --navbar-clr: #e2e1e1;
  --white-clr: #fff;
  --black-clr: #000;
  --teal-clr: #214342;
  --footer-clr: #0b1e1c;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1350px;
  width: 100%;
  padding-bottom: 5rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5rem;
  padding-inline: 2rem;
}

/* header css */

.navbar {
  position: absolute;
  top: 2rem;
  left: 50%;
  width: 90%;
  /* max-width: 1350px; */
  margin-inline: auto;
  transform: translateX(-50%);
  z-index: 10;
  background: var(--navbar-clr);
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  font-weight: 500;
  color: var(--black-clr);
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  z-index: 1001;
  position: relative;
}

.mobile-menu {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%) translateY(-20px);
  width: 85%;
  background: var(--navbar-clr);
  border-radius: 2.4rem;
  padding: 2rem 1rem;
  list-style: none;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
}

.mobile-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.mobile-menu li {
  margin: 1rem 0;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--black-clr);
  font-weight: 500;
}

.mobile-menu a:hover {
  color: var(--teal-clr);
}

.menu-close {
  text-align: right;
  margin-bottom: 10px;
}

.menu-close button {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.logo {
  display: flex;
  z-index: 5;
  line-height: 2rem;
  margin-right: auto;
}

.logo-icon i {
  font-size: 1.25rem;
  color: var(--teal-clr);
}

.logo-text {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--black-clr);
  text-decoration: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background: var(--teal-clr);
  color: var(--white-clr);
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 999px;
  font-size: 0.9rem;
  white-space: nowrap;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: var(--navbar-clr);
  color: var(--black-clr);
}

.desktop-cta-btn {
  display: inline-flex;
}

.mobile-cta-btn {
  display: none;
}

.mobile-menu .btn,
.mobile-cta-btn {
  color: var(--white-clr);
}

/* home css */

.home {
  min-height: 100vh;
  background: url(../images/hero-img.png) center / cover no-repeat;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  /* padding-inline: 1rem; */
}

.home-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
}

.home,
.featured-section {
  background-attachment: scroll;
}

.home-heading {
  color: var(--white-clr);
  max-width: 900px;
  font-size: clamp(3rem, 4vw, 3.5rem);
  line-height: 1.2;
  font-weight: 400;
}

.home-para {
  color: var(--white-clr);
  max-width: 650px;
  font-size: 1rem;
  text-align: center;
  line-height: 1.6;
}

.exp-btn {
  font-size: 1.1rem;
  margin-right: auto;
  display: inline-flex;
  line-height: 1.3rem;
  margin-bottom: 6rem;
  cursor: pointer;
}

/* category css */

.categories-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3rem;
  gap: 4rem;
}

.categories-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0.5rem;
  font-weight: 600;
  color: var(--teal-clr);
}

.title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.desc {
  max-width: 650px;
  font-size: 0.95rem;
  line-height: 1.7;
  align-items: center;
  justify-content: center;
  color: var(--black-clr);
  margin: 0;
}

.categories-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.categories-card {
  flex: 1 1 calc(25% - 1rem);
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-card img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

figcaption {
  margin-top: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
}

.stats-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  padding: 4rem 1rem;
  text-align: left;
}

.stats-number {
  color: var(--teal-clr);
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

.stats-subheading {
  font-size: 1rem;
  font-weight: 600;
  color: var(--teal-clr);
  margin-bottom: 0.3rem;
}

.stats-para {
  font-size: 0.95rem;
  line-height: 1.4;
  max-width: 190px;
  color: var(--black-clr);
}

/* about us css */

.about-wrapper {
  margin: 0;
  display: flex;
  align-items: center;
  /* padding-inline: 2rem; */
}

.about-img {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-img img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

.about-label {
  color: var(--teal-clr);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.about-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 0;
  justify-content: center;
}

.about-title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2;
  max-width: 500px;
}

.about-desc {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 500px;
  color: var(--black-clr);
}

/* gallery css */

.gallery-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
}

.gallery-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gallery-flex {
  display: flex;
  margin-top: 4rem;
  height: 590px;
  gap: 2rem;
}

.col {
  flex: 1;
  display: flex;
}

.large img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.center {
  flex-direction: column;
  gap: 20px;
}

.center img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 12px;
}

/* feature css */

.featured-section {
  position: relative;
  background: url('../images/features.png') center/cover no-repeat;
  min-height: 90vh;
  display: flex;
  z-index: 2;
}

.featured-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}

.featured-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--white-clr);
  gap: 2rem;
}

.featured-left h2 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  max-width: 700px;
}

.featured-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--white-clr);
  max-width: 490px;
  margin-top: 2rem;
}

.featured-right p {
  line-height: 1.7;
  margin-bottom: 2rem;
}

.featured-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  flex-wrap: wrap;
}

[data-type='bordered-btn'] {
  background: transparent;
  padding: 0.9rem 2.2rem;
  border: 1px solid var(--white-clr);
  color: var(--white-clr);
}

/* testimonial css */

/* .testimonial-section {
  max-width: 1350px;
  margin: 8rem auto;
  padding: 0;
} */

.testimonial-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-header h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3;
}

.testimonial-arrows {
  display: flex;
  gap: 0.1rem;
}

.arrow {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #6f6f6f;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.3s ease-in-out;
}

.arrow:hover {
  color: var(--black-clr);
}

.divider {
  margin: 2rem 0 4rem;
  border: none;
  height: 1px;
  background: #d0d0d0;
}

.swiper-slide {
  height: auto;
}

.swiper-wrapper {
  display: flex;
}

.testimonial-cards {
  width: 100%;
  gap: 0.3rem;
}

.testimonial-card img {
  width: 100%;
  aspect-ratio: 16/10;
  object-fit: cover;
  border-radius: 0.6rem;
}

.testimonial-text {
  margin: 1.5rem 0;
  color: #555;
  font-size: 1rem;
  line-height: 1.8;
}

hr {
  color: #bcbbbb;
  margin-bottom: 1.5rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-info img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.user-info span {
  font-size: 1.4rem;
  font-weight: 500;
}

/* faqs css */

.faq-container {
  max-width: 1350px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 2rem;
}

.faq-label {
  color: var(--teal-clr);
  font-size: 1rem;
  font-weight: 700;
  display: block;
  margin-bottom: 1rem;
}

.faq-left h2 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.faq-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem 2.2rem;
  background: var(--teal-clr);
  color: var(--white-clr);
  text-decoration: none;
  border-radius: 3rem;
  font-size: 1rem;
}

.faq-item {
  border: 1px solid #e6e6e6;
  border-radius: 1rem;
  margin-bottom: 1.4rem;
  overflow: hidden;
}

.faq-question {
  width: 100%;
  background: transparent;
  border: none;
  padding: 1.8rem 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 1rem;
  cursor: pointer;
}

.faq-question span {
  color: #999;
  font-weight: 500;
  min-width: 2rem;
}

.faq-question i {
  margin-left: auto;
  font-style: normal;
  font-size: 1.3rem;
}

.faq-question i {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.faq-item.active .faq-question i {
  transform: rotate(180deg);
}

.faq-answer {
  padding: 0 2rem 1.4rem 2rem;
  font-size: 1rem;
  color: #666;
  display: none;
}

.faq-item.active .faq-answer {
  display: block;
}

/* Footer css */

.cta-footer {
  background: linear-gradient(135deg, #041b1a, #062726);
  color: var(--white-clr);
  padding: 4rem 5%;
}

.cta-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cta-label {
  color: var(--white-clr);
  font-size: 0.9rem;
  font-weight: 600;
}

.cta-text h2 {
  font-size: 2.4rem;
  margin-top: 0.5rem;
}

.footer-cta-btn {
  background: var(--teal-clr);
  padding: 0.9rem 1.6rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  gap: 0.5rem;
  transition: 0.3s;
}

.footer-logo-icon i,
.footer-logo-text {
  color: var(--white-clr);
  text-decoration: none;
  gap: 2rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  padding: 3rem 0;
}

.footer-col h3 {
  margin: 0 0 1rem 0;
  margin-top: 0;
  font-weight: 500;
  line-height: 1.2;
}

.footer-col h4 {
  margin: 0 0 1rem 0;
  font-weight: 500;
  line-height: 1.2;
  min-height: 2.2rem;
  display: flex;
  align-items: center;
}

.footer-col p,
.footer-col li {
  font-size: 0.95rem;
  opacity: 0.85;
  line-height: 1.6;
  margin: 0 0 0.75rem 0;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.subs-heading {
  font-size: 1.7rem;
  margin: 0;
  font-weight: 500;
  line-height: 1.1;
}

.subscribe-box {
  display: flex;
  margin-top: 1rem;
}

.subscribe-box input {
  flex: 1;
  padding: 0.7rem;
  border-radius: 25px 0 0 25px;
  background: transparent;
  color: var(--white-clr);
  border: none;
  outline: none;
}

.subscribe-box input::placeholder {
  color: var(--white-clr);
}

.subscribe-box .btn {
  padding: 0.7rem 1.2rem;
  border-radius: 25px 25px;
  border: none;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  opacity: 0.7;
  padding-top: 1.5rem;
}

.footer-bottom a {
  color: var(--white-clr);
  text-decoration: none;
}

/* Responsive css */

@media (max-width: 1024px) {
  /* .container {
    padding: 3rem 3rem;
  } */

  .nav-links {
    gap: 1.5rem;
  }

  .categories-inner {
    flex-direction: column;
    gap: 2rem;
  }

  .categories-grid {
    justify-content: center;
  }

  .categories-card {
    flex: 1 1 calc(50% - 2rem);
    max-width: 100%;
  }

  .about-us .about-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .about-img {
    justify-content: center;
  }

  .about-title,
  .about-desc {
    max-width: 600px;
    margin-inline: auto;
  }

  .about-content .btn {
    align-self: center;
  }
  .gallery-inner {
    flex-direction: column;
  }

  .gallery-flex {
    height: auto;
  }

  .featured-left h2 {
    font-size: 2.6rem;
  }

  .testimonial-section {
    margin: 5rem auto;
    padding: 0 2rem;
  }

  .testimonial-header h2 {
    font-size: 2.1rem;
  }

  .faq-container {
    grid-template-columns: 1fr;
  }

  .faq-left {
    text-align: center;
  }

  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  /* section {
    padding: 2.5rem 1.5rem;
  } */

  .nav-links {
    display: none;
  }

  .desktop-cta-btn {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobile-cta-btn {
    display: inline-flex;
    margin-top: 1.5rem;
  }

  .home-heading {
    font-size: 2.3rem;
  }

  .home-para {
    font-size: 0.8rem;
  }

  .categories-card {
    flex: 1 1 calc(50% - 2rem);
    max-width: 100%;
  }

  .stats-grid {
    justify-content: center;
    text-align: center;
  }

  .stats-para {
    max-width: 100%;
  }

  .gallery-flex {
    flex-direction: column;
  }

  .center {
    flex-direction: column;
  }

  .center img {
    height: auto;
  }

  .featured-left h2 {
    font-size: 2.2rem;
  }

  .featured-right {
    margin-top: 1.5rem;
  }

  .testimonial-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .testimonial-header h2 {
    margin-bottom: auto;
    font-size: 1.6rem;
  }

  .testimonial-arrows {
    margin-left: auto;
    margin-right: auto;
  }

  .testimonial-card {
    padding: 0.5rem;
  }

  .testimonial-text {
    font-size: 0.9rem;
    margin: 0.75rem 0;
  }

  .user-info span {
    font-size: 1.1rem;
  }

  .faq-left h2 {
    font-size: 2.4rem;
  }

  .faq-question {
    padding: 1.3rem;
  }

  .cta-top {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }

  .footer-cta-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-content {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 0.6rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .home-heading {
    font-size: 2rem;
  }

  .title,
  .about-title {
    font-size: 2rem;
  }

  .featured-left h2 {
    font-size: 2rem;
  }

  .testimonial-section {
    padding: 0 1.2rem;
  }

  .testimonial-header h2 {
    font-size: 1.6rem;
  }

  .faq-left h2 {
    font-size: 2rem;
  }

  .btn {
    padding: 0.8rem 1.3rem;
    font-size: 0.85rem;
  }
}
